header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    padding: 1%;
}

mat-form-field{

    width: 80%;
}

mat-card{
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.status{
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: black;
    color: aliceblue;
}